<div>
    <nav class="navbar navbar-expand-xl fixed-top bg-dark navbar-dark">
        <a href="/" class="navbar-brand px-2">
            <i class="fas fa-calculator"></i>
            Super Calculadora
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Realizar operacion</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/historial">Historial de operaciones</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">Acerca de...</a>
                </li>
        </div>
    </nav>
</div>
<div class="py-4 mb-2"></div>