<!DOCTYPE html>

<head>
    <title>Practica nodeJS</title>
    <%- include('partials/header.ejs'); %>
</head>

<body>
    <%- include('partials/navBar.ejs'); %>
    <div class="center">
        <h2>Super Calculadora</h2>
        <h3>Manjeo e implementacion de archivos</h3>
        <h3>Asael Hernandez</h3>
    </div>
    <%- include('partials/extrasJS.ejs'); %>
</body>

</html>